<h3 class="my-4">
  <i class="fa fa-angle-double-right me-2"></i>
  <i class="fa fa-calendar-day me-2"></i>Pengunjung Perhari
</h3>
<div class="p-3 mt-3 ms-5 card shadow rounded-4" style="margin-bottom: 5em; width: 70%; background: white">
  <div id="chartDiv"></div>
</div>
<h3 class="my-4">
  <i class="fa fa-angle-double-right me-2"></i>
  <i class="fa fa-map-location-dot me-2"></i>Pengunjung Berdasarkan Daerah Asal
</h3>
<div class="p-3 mt-3 ms-5 card shadow rounded-4" style="margin-bottom: 5em; width: 70%; background: #f3e2cc">
  <canvas id="canvas" style="padding: 0em"></canvas>
</div>
<h3 class="my-4">
  <i class="fa fa-angle-double-right me-2"></i>
  <i class="fa fa-money-bill-trend-up me-2"></i>Penghasilan Perminggu
</h3>
<div class="p-3 mt-3 ms-5 card shadow rounded-4" style="margin-bottom: 5em; width: 70%; background: white">
  <canvas id="canvas1"></canvas>
</div>

<h3 class="my-4">
  <i class="fa fa-angle-double-right me-2"></i>
  <i class="fa fa-ticket me-2" style="transform: rotate(-30deg)"></i>Jumlah
  Tiket Terjual Perminggu
</h3>
<div class="p-3 mt-3 ms-5 card shadow rounded-4"
  style="margin-bottom: 5em; width: 70%; background: rgba(171, 205, 239, 0)">
  <canvas id="canvas2"></canvas>
</div>

<h3 class="my-4">
  <i class="fa fa-angle-double-right me-2"></i>
  <i class="fa fa-umbrella-beach me-2"></i>Tempat Terfavorit (Pengunjung
  Terbanyak)
</h3>
<div class="p-3 mt-3 ms-5 card shadow rounded-4"
  style="margin-bottom: 5em; width: 70%; background: rgba(171, 205, 239, 0)">
  <div id="chartHolder" style="width: 100%; height: 500px"></div>
</div>
<div id="datas" class="d-none"><%= datas %></div>
<script src="/assets/js/mapChartHandler.js"></script>
<script src="/assets/js/calenderChartHandler.js"></script>
<script src="/assets/js/chartHandler.js"></script>
<script src="/assets/js/bumpChartHandler.js"></script>